.piano {
  background: lightgrey;
  display:flex;
  justify-content: center;
}


.note {
  border: 1px solid black;
  width:10%;
  height:200px;
  text-align: center;
  margin:3px;
  border-radius: 50%;

}

.playing {

  box-shadow:-2px 0 30px rgba(0, 0, 0, .9) inset;
} 